ipch/
Win32/Debug/
Win32/Release/
debug/
bin/
release/
*.suo
*.exe
*.bin
*.obj
*.pdb
*.res
*.o
*.autosave
*.a
*.bak
*.log
*.user
*.user.*
*.opensdf
GeneratedFiles/
img.jpg
/Wardrobe.db
*.sdf
/VersionInfo.rc
/VersionInfo.h
*.aps
Plugins/
/setting.dll
Makefile
Makefile.Debug
Makefile.Release
*.orig
.qmake.stash
object_script.*
ui_*.h
log/
